    * {
        border: 0;
        margin: 0;
        padding: 0;
    }
    
    html {
        height: 100%;
        font-size: 20px;
    }
    
    body {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr minmax(300px, 2fr) 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background: #f1f2f6;
        .wrapper {
            grid-column: 2/3;
            grid-row: 2/3;
            justify-self: center;
            align-self: center;
            transition: all 1.9s;
            h1 {
                font-size: 2.5rem;
                padding: 20px 0px;
                text-align: center;
                line-height: 5.0rem;
                font-family: 'Montserrat', verdana;
            }
            .form__elements {
                display: flex;
                justify-content: center;
                //  background: #e1b12c;
                transition: all 0.9s;
                margin: 0 auto;
                width: 100%;
                #searchInput {
                    margin: 0px 20px;
                    width: 0px;
                    display: none;
                    transition: all 0.9s;
                    outline: none;
                    background: none;
                }
                #hitSearch {
                    margin: 0px 10px 0px 5px;
                    padding: 5px;
                    transition: 0.3s;
                    background: none;
                    opacity: 0.8;
                    color: #e1b12c;
                    font-size: 1.8rem;
                    text-align: center;
                }
                #refresh {
                    margin: 0px 10px 0px 5px;
                    padding: 5px;
                    display: none;
                }
            }
            .form__elements:hover {
                #searchInput {
                    width: 90%;
                    border-bottom: solid 3px #e1b12c;
                    outline: none;
                    display: block;
                }
                #hitSearch {
                    font-size: 1.2rem;
                }
                #refresh {
                    display: block;
                    font-size: 1.2rem;
                    background: none;
                    color: #e1b12c;
                    opacity: 0.8;
                }
            }
            .form__elements {
                #searchInput:focus {
                    width: 90%;
                    border-bottom: solid 3px #e1b12c;
                    outline: none;
                    display: block;
                }
                #searchInput:focus+#hitSearch {
                    font-size: 1.2rem;
                }
                #searchInput:focus~#refresh {
                    display: block;
                    font-size: 1.2rem;
                    background: none;
                    color: #e1b12c;
                    opacity: 0.8;
                }
            }
            #random__Article {
                display: block;
                //margin: 0 auto;
                line-height: 4.5rem;
                font-size: 1.2rem;
                text-decoration: none;
                color: #e1b12c;
                text-align: center;
                font-weight: 700;
                font-family: 'Montserrat', verdana;
                //transform: translate(70%);
            }
        }
        div#content {
            grid-column: 2/3;
            grid-row: 3/4;
            .content__item {
                width: minmax(300px, 1fr);
                box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.3);
                margin: 20px 0px;
                padding: 30px;
                background: white;
                border-radius: 5px;
                .title {
                    font-size: 2.0rem;
                    line-height: 2.0rem;
                    font-family: 'Cairo';
                }
                a {
                    text-decoration: none;
                    color: #e1b12c;
                    line-height: 2.0rem;
                    font-family: 'Cairo';
                }
                .description {
                    font-family: 'Cairo';
                }
            }
        }
    }